body
  :padding 20px 0
  :margin 0
  :background-color #eee
  :text-align center
  :font-family Helvetica, Arial, sans-serif
  
  h1
    :font-size 40px
    :margin 0 0 10px 0
  #content
    img
      :margin 20px
      :border 10px solid #ccc
      :height 250px
    :background-color #fff
    :padding 20px
    
    form
      :text-align center

    input 
      :font-size 30px
      :margin-bottom 10px
      
    input[type=submit]
      :font-size 20px
    #results
      #accepts
        :list-style none
        :margin 0
        :padding 0
        li
          :margin 10px 0
  #footer
    :margin 20px